<!--Fereastra de tipul pop-up/modal pentru
afisarea detaliilor despre nota curenta-->
<ion-modal-view>
    <ion-header-bar class="bar-balanced">
        <h1 class="title">Detalii nota {{nota.nota}}</h1>
        <button class="button icon ion-close-circled button-assertive" ng-click="closeModal()">Exit</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <div class="item item-divider balanced" style="background:purple">
                {{PROVENIENTA}}:
            </div>
            <div style="background:green" class="positive">
                <h4><p>{{nota.provenienta}}</p></h4>
            </div>
            <div class="item item-divider balanced" style="background:purple">
                {{OBSERVATII}}:
            </div>
            <div style="background:green" class="positive">
                <h4><p>{{nota.observatii}}</p></h4>
            </div>
            <div class="item item-divider balanced" style="background:purple">
                {{RECOMANDARI}}:
            </div>
            <div style="background:green" class="positive">
                <h4><p>{{nota.recomandari}}</p></h4>
            </div>
        </div>
    </ion-content>
</ion-modal-view>

<!--ng-if="!nota.Provenienta"-->
