<!--Fereastra de tipul pop-up/modal pentru
afisarea detaliilor despre nota curenta-->
<ion-modal-view>
    <ion-header-bar class="bar-royal">
        <h1 class="title">Detalii nota {{nota.nota}}</h1>
        <button class="button icon ion-close-circled button-royal" ng-click="closeModal()">Exit</button>
    </ion-header-bar>
    <ion-content id="coolPurple" class="padding">
        <div class="list">
            <div class="item item-divider" id="bluesky">
                {{PROVENIENTA}}:
            </div>
            <div id="bluesky">
                <h4><p>{{nota.provenienta}}</p></h4>
            </div>
            <div class="item item-divider" id="bluesky">
                {{OBSERVATII}}:
            </div>
            <div id="bluesky">
                <h4><p>{{nota.observatii}}</p></h4>
            </div>
            <div class="item item-divider" id="bluesky">
                {{RECOMANDARI}}:
            </div>
            <div id="bluesky" class="positive">
                <h4><p>{{nota.recomandari}}</p></h4>
            </div>
            <div class="item item-divider" id="bluesky">
                {{DATA_NOTA}}:
            </div>
            <div id="bluesky" class="positive">
                <h4><p>{{nota.data}}</p></h4>
            </div>
        </div>
    </ion-content>
</ion-modal-view>

<!--ng-if="!nota.Provenienta"-->
