<ion-view>
  <ion-nav-title>{{elev.prenume}} {{elev.nume}}</ion-nav-title>
  <ion-content class="padding">
    <ion-list>

      <ion-item class="item-icon-left" ng-repeat="nota in note track by $index" type="item-text-wrap" ng-click="openModal(nota)">
        <div ng-if="nota.nota === 10">
          <i class="icon ion-trophy royal"></i>
          <h5><p>{{nota.nota}}</p></h5>
        </div>
        <div ng-if="nota.nota >= 7 && nota.nota < 10">
          <i class="icon ion-ribbon-b balanced"></i>
          <h5><p>{{nota.nota}}</p></h5>
        </div>
        <div ng-if="nota.nota < 7 && nota.nota >= 5">
          <i class="icon ion-alert-circled energized"></i>
          <h5><p>{{nota.nota}}</p></h5>
        </div>
        <div ng-if="nota.nota < 5">
          <i class="icon ion-sad assertive"></i>
          <h5><p>{{nota.nota}}</p></h5>
        </div>
      </ion-item>
    </ion-list>
    <canvas id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels" chart-legend="true"></canvas>
    <div id="teza" ng-if="materie.areTeza">
      <h5><p class="royal">{{TEZA}}</p></h5>
      <ion-item class="item-icon-left" type="item-text-wrap" ng-click="openModal(materie.notaTeza)">
        <div ng-if="!materie.notaTeza.nota">
          <i class="icon ion-more calm"></i>
          <h5><p>Nota netrecuta</p></h5>
        </div>
        <div ng-if="materie.notaTeza.nota === 10">
          <i class="icon ion-trophy royal"></i>
          <h5><p>{{materie.notaTeza.nota}}</p></h5>
        </div>
        <div ng-if="materie.notaTeza.nota >= 7 && materie.notaTeza.nota < 10">
          <i class="icon ion-ribbon-b balanced"></i>
          <h5><p>{{materie.notaTeza.nota}}</p></h5>
        </div>
        <div ng-if="materie.notaTeza.nota < 7 && materie.notaTeza.nota >= 5">
          <i class="icon ion-alert-circled energized"></i>
          <h5><p>{{materie.notaTeza.nota}}</p></h5>
        </div>
        <div ng-if="materie.notaTeza.nota < 5 && materie.notaTeza.nota">
          <i class="icon ion-sad assertive"></i>
          <h5><p>{{materie.notaTeza.nota}}</p></h5>
        </div>
      </ion-item>
    </div>

    <div>
      <button class="button button-block button-royal" ng-click="openModal(false)">
        Adauga nota
      </button>
    </div>
    <div ng-if="materie.areTeza">
      <button class="button button-block button-royal" ng-click="openModal(true)">
        Adauga nota teza
      </button>
    </div>
    <div>
      <button class="button button-block button-royal" ui-sref="tabProfesor.noteMedie({materie:materie})">
        Calculeaza media
      </button>
    </div>
  </ion-content>
</ion-view>
