<ion-modal-view>
    <ion-header-bar class="bar-royal">
        <h1 class="title">Editare {{notaEditare.nota}}</h1>
        <button class="button icon ion-close-circled button-royal" ng-click="closeModalEditare()">Exit</button>
    </ion-header-bar>
    <ion-content>
        <label class="item item-input item-floating-label">
            <span class="input-label royal">Nota</span>
            <input type="tel" ng-model="notaEditare.nota" placeholder="Nota">
        </label>
        <label class="item item-input">
            <span class="input-label royal">Data</span>
            <input type="date" ng-model="notaEditare.data" placeholder="Data">
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label royal">Provenienta</span>
            <input type="text" ng-model="notaEditare.provenienta" placeholder="Provenienta">
        </label>

        <label class="item item-input item-floating-label">
            <span class="input-label royal">Observatii</span>
            <textarea ng-model="notaEditare.observatii" placeholder="Observatii"></textarea>
        </label>

        <label class="item item-input item-floating-label">
            <span class="input-label royal">Recomandari</span>
            <textarea type="text" ng-model="notaEditare.recomandari" placeholder="Recomandari"></textarea>
        </label>
        <br>
        <button class="button button-block icon icon-right button-royal" ng-click="editeazaNota(notaEditare, materie, uid, esteTeza, indexNota)">Salveaza modificarile</button>
    </ion-content>
</ion-modal-view>
