/* Empty. Add your own CSS if you like */

.popup-buttons .button {
  border-color: transparent;
  background-color: #886aea;
  color: #fff;
}
.popup-buttons .button.activated {
  background-color: #6b46e5;
}
.bar.pers-balanced {
  border-color: #28a54c;
  background-color: #33cd5f;
  background-image: linear-gradient(0deg, #28a54c, #28a54c 50%, transparent 50%);
  color: #fff;
}
.bar.pers-balanced .title {
  color: #fff;
}
.bar.pers-balanced.bar-footer {
  background-image: linear-gradient(180deg, #28a54c, #0c60ee 50%, transparent 50%);
}
.pers-balanced {
  background-color: #33cd5f;
}
#darkskies {
  background: #4B79A1;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4B79A1, #283E51);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #4B79A1, #283E51);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

#bluesky {
background: #457fca; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #457fca , #5691c8); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #457fca , #5691c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: #fff;
}


#deepspace {
background: #000000; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #000000 , #434343); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #000000 , #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
